VITE_SUPABASE_URL=Coloque aqui a URL do Supabase aqui
VITE_SUPABASE_ANON_KEY=Coloque aqui a chave anônima do Supabase aqui

# Configurações do EmailJS (Envio de E-mails)
VITE_EMAILJS_SERVICE_ID=seu_service_id_do_emailjs
VITE_EMAILJS_TEMPLATE_ID=seu_template_id_do_emailjs
VITE_EMAILJS_PUBLIC_KEY=sua_public_key_do_emailjs